@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900; /* Supports all weights */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
  }
  
  /* Apply it globally */
  body {
    font-family: 'Inter', sans-serif;
  }