.navbar {
    /* Positioning */
    top: 0;
    position: sticky;
    z-index: 10;
  
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    /* Visual */
    background-color: #1c1f23;
    padding: 0.625rem 1.25rem;
    height: 3.75rem;
    width: 100%;
  }
  
  .logo {
    max-width: 100%;
    height: auto;
  }
  
  .logo img {
    width: 60px;
    height: auto;
    max-width: 100%;
  }
  
  ul {
    display: flex;
    gap: 1.25rem;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    list-style-type: none;
    font-size: 1.125rem;
    font-weight: bold;
  }

  /* navlins */
  .nav-link {
    text-decoration: none;
    color: white;
  }
  
  .nav-link:hover {
    color: #22c55e;
  }
  .nav-link.active {
    color: #22c55e;
    font-weight: bold;
  }
  

  .nav-item:first-child {
    margin-left: 20px; /* Adds space between logo and "Dashboard" */
  }
  
  .date-time {
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
    margin-left: auto;
  }


  /* Semi-Responsive Adjustments */
@media (max-width: 950px) {
  .navbar {
    padding: 0.5rem 1rem;
    height: auto;
  }

  .nav-item {
    font-size: 1rem; /* Slightly smaller */
  }

  .logo img {
    width: 2rem; /* 32px */
  }

  .date-time {
    font-size: 1rem; /* Reduce font size */
  }
}